.footer {
    padding: 80px 0 20px;

    &-top {
        display: grid;
        grid-template-columns: repeat(4, 255px);
        justify-content: space-between;
        border-bottom: 1px solid $dark-color;
        padding-bottom: 60px;

        @include a (laptop) {
            grid-template-columns: repeat(2, 255px);
            justify-content: space-around;
            row-gap: 60px;
        }

        @include a (tablet) {
            grid-template-columns: 255px;
        }
    }

    &__title {
        font-size: toRem(18);
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-bottom: 40px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 255px;
            height: 1px;
            background-color: $dark-color;
            bottom: -10px;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include a (tablet) {
            align-items: center;
        }
    }

    &__item {
        &-link {
            font-size: toRem(14);
            color: $dark-color;
        }

        &-2 {
            padding-left: 40px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 16px;
                background: url(/src/assets/images/footer-phone.png);
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &-3 {
            padding-left: 40px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 19px;
                height: 14px;
                background: url(/src/assets/images/footer-mail.png);
                left: 0;
                top: 50%;
                transform: translateY(-50%);

                @include a (tablet) {
                    left: -10px;
                }
            }
        }
    }

    &__descr {
        font-size: toRem(14);
        line-height: 150%;
        margin-bottom: 25px;
    }

    &__payment {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    &-bot {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;

        @include a (mobile) {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }

    &__copyright {
        font-size: toRem(14);
    }

    &__link {
        font-size: toRem(14);
        color: $dark-color;

        &-3 {
            font-weight: 600;
            text-decoration: underline;
            color: $dark-color;
        }
    }
}